<div class="container">
      <div class="row main-content">
        <div class="col-md-2 side-bar">

          <%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-custom" %><br><br>
          <p id="content-underline">FEEDS</p>
          <a href="#">Top Recipes</a><br>
          <a href="#">Most Popular Recipes</a><br>
          <a href="#">Most Interesting Recipes</a>
        </div>
        <div class="col-md-7 recipe-content">
          
            
            <section>

              <% @recipes.each do |recipe| %>
              <div class="media">
               
                  <%= link_to (image_tag recipe.image.url(:thumb), class: 'image media-left media-middle'), recipe %>
                
                <div class="media-body">
                  <h5 class="media-heading"><%= link_to recipe.name.humanize, recipe %></h5> 
                  <p>
                    <%= recipe.origin %>
                  </p>

                </div>
              <%= recipe.comments.count %>  Comments
              <%= link_to "upvote", like_recipe_path(recipe), method: :put %>
              <%= link_to "downvote", dislike_recipe_path(recipe), method: :put %>
              <%= recipe.score %> votes
              </div>
            
          <% end %>
          </section>
          </div>
          <div class="col-md-3 hidden-sm hidden-xs">
            <div class="box">
              <p id="myfont"><strong>There's more on Foodio..</strong></p><br>
                <p>Find new recipes for simple and exotic dishes everyday. And remember to Vote for your favorite dishes.</p><br>
              <%= link_to 'Generate random recipe', new_recipe_path, class: "btn btn-custom" %>
            </div>
            <br>

            <p id="content-underline">TELL YOUR FRIENDS ON SOCIAL MEDIA</p>
            <%= render_shareable %>

            <br><br>
          
          </div>
      </div>
      <%= paginate @recipes %>
  </div>
  <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2014 TechShrine</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
