<div class="container">
  <div class="row main-content">
        <div class="col-md-2 side-bar">
          <%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-custom" %><br><br>
          <p id="content-underline" class="sidebar">FEEDS</p>
          <a href="#">Related Recipes</a>
          <br><br>
          <a href="#">Most Popular Recipes</a><br><br>
          <a href="#">Most Interesting Recipes</a>
        </div>

        <div class="col-md-7">
                    
                      <%= image_tag @recipe.image.url(:medium), class: "img-responsive ri" %>
                    
                     <p class= "section-heading">Name of Recipe</p><br>

                      <p class="show-content" id="myfont"><%= @recipe.name.humanize %></p>  

                    <p class="section-heading">Origin</p><br>
                    <p class="show-content" id="myfont"><%= @recipe.origin %></p>
                    

                    
                      <p class="section-heading">Ingredients</p><br>
                      <p class="show-content" id="myfont"><%= @recipe.ingredients %></p>
                    
                      <p class="section-heading">How to prepare</p><br>
                      <p class="show-content" id="myfont"><%= @recipe.description %></p>

                      
          <br><br><br>
                  <h2>Comments</h2>
                  <% @recipe.comments.each do |comment| %>
                  <p class="section-heading"><b>Commenter</b></p>
                      <p class="show-content"><%= comment.commenter %></p>
                  
                  <p class="section-head"><b>Comment</b></p>
                      <p class="show-content"><%= comment.body%></p>
                  
                  <% end %>


                  <% if user_signed_in? %>
              <h2>Add a comment</h2>
                  <%= form_for ([@recipe, @recipe.comments.build]) do |f| %>
                    <div class="field">
                      <%= f.label :commenter %> <br />
                      <%= current_user.email.split("@")[0] %>
                    </div>
                    <div class="field">
                      <%= f.label :body %>
                      <%= f.text_area :body %>
                    </div>
                    <div class="action">
                      <%= f.submit %>
                    </div>
                    <% end %>
    <% end %>


         

                    <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-back" %> 
                   <%= link_to 'Back', recipes_path, class: "btn btn-back" %>

        </div>
        <div class="col-md-3 sidebar" id="content-underline">
          <p>SHARE ON SOCIAL MEDIA</p>
        </div>
        <%= render_shareable %>
      </div>

        
  </div>
  

</div>

